node_modules/

dist/
functions/lib/

.env
.env.*
!.env.example

.firebase/
*-debug.log
emulator-data/

.DS_Store
Thumbs.db
.vscode/*
!.vscode/tasks.json
vsdocs/
!.vscode/extensions.json


# Skills instaladas pelo firebase
.agents/
.claude/
skills-lock.json