@layer theme, base, mui, components, utilities;

@import "tailwindcss";

@theme inline {
  --color-primary: var(--mui-palette-primary-main);
  --color-primary-contrast: var(--mui-palette-primary-contrastText);
  --color-divider: var(--mui-palette-divider);
}

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}